.h-button {
    display:none;
    position:absolute;
    top:5px;
    left:5px;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    opacity: 0;
    outline: 0 solid transparent;
    padding: 5px 5px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30px;
    height: 30px;
    word-break: break-word;
    border: 0;
}

.card-grid-item, .card-image {
    position:relative;
}

.card-grid-item:hover > .h-button, .h-button:hover{
    display:block;
    opacity:1;
    animation:fade .1s linear;
}

.card-image:hover > .h-button, .h-button:hover{
    display:block;
    opacity:1;
    animation:fade .1s linear;
}

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.i-title {
    z-index: 999;
    color: transparent;
    width: 0%;
}